<!DOCTYPE html>
<html lang="en">
<html>
	<head>
	  <!-- Basics -->
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="Quinn's personal website for funsies">
	  
	  <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- Skeleton Stylesheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <!-- Favicon -->
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
						<li><a href="/contact">Adventures</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/resume">Resume</a></li>
        		<li><a href="/contact">Contact</a></li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
    	<ul>
		  </ul>
		</footer>
	</body>
</html>
